* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: #D6D9DF;
  height: 1500px;
}

a {
  color: #333;
  text-decoration: none;
}

h1 {
  color: #003054;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;
  font-size: 3rem;
}

h2 {
  color: #003054;
}

h3 {
  color: #0068AB;
}

/* Header Component */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vh 5vw;
  width: 100vw;
}

nav {
  height: 50px;
  width: 100vw;
  background: #003054;
  position: relative;
  margin-top: -50px;
}

/* Buttons Component */

button {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #003054;
  padding: 7px 15px 7px 15px;
  text-decoration: none;
  margin: 1vh auto;
  padding: 1vh auto;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

input {
  height: 8vh;
  width: 40vw;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1vh;
  border: none;
}

.JFQ {
  margin: 1vh auto 1vh 28vw;
  padding: 1vh auto;
}

.JFQ-2 {
  margin: 1vh auto 1vh 30vw;
  padding: 1vh auto;
}

.Edit {
  margin-left: 28vw;
}

/* NewQuestion Component */

.AJA {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #003054;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 5px auto;
}

.AJA:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.random {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

input {
  font-size: 2rem;
}

.Ew {
  Margin: 3vh 0 0 31vw;
}

/* Footer Component */

.footer {
  color: #fff;
  font-size: .8rem;
  position: absolute;
  margin: 15px 0 0 45vw;
  
}

footer {
  background: #003054;
  position: relative;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 200px;
  width: 100vw;
}